<script src="http://api.jquery.com/scripts/events.js"></script>
<script>
  var xTriggered = 0;
  $("#target").keypress(function(event) {
    if ( event.which == 13 ) {
      event.preventDefault();
    }
    xTriggered++;
    var msg = "Handler for .keypress() called " + xTriggered + " time(s).";
    $.print( msg, "html" );
    $.print( event );
  });

  $("#other").click(function() {
    $("#target").keypress();
  });
</script>

<form>
  <fieldset>
    <label for="target">Type Something:</label>
      <input id="target" type="text" />
  </fieldset>
</form>
<button id="other">
  Trigger the handler
</button>
