fieldset {
  margin-bottom: 1em;
}

input {
  display: block;
  margin-bottom: .25em;
}

#print-output {
  width: 100%;
}

.print-output-line {
  white-space: pre;
  padding: 5px;
  font-family: monaco, monospace;
  font-size: .7em;
}
